.Menu__content {
  width: 100%;
  text-align: center;
  position:fixed;
  padding:0;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 16px 16px;
  z-index: 5;
  background-color: #fff;
}
.Menu__page {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
}
.Menu__content--logo {
  width: 200px;
  text-align:start;
}
.Menu__content_img {
  width: 80%;
}
.Menu__content--items {
  top: 0px;
  background-color: #ffffff;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 0.2s;
  z-index: 1;
  overflow: hidden;
  margin: 0;
}
.Item__menu {
  width: 50%;
  text-align: end;
  cursor: pointer;
}
.Open__menu {
  width:300px;
  z-index:10;
  overflow: auto;
  display: line;
}
.Items__views {
  width: 100%;
}
.Item__close--button {
  text-align:end;
  padding:10px;
}
.Menu__container_items {
  width: 100%;
  display: flex;
  flex-direction:column;
}
.Button__logo--close {
  cursor: pointer;
}
.Items__socialMediaLang {
  display: flex;
  justify-content: center;
}
.Items__search img{
  width:20px;
}
.btn_up {
  background: #FE7138;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
.btn_in {
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9rem;
  color: #6D6E70;
}
.Items__img_user {
  display: flex;
}
@media screen and (min-width: 1000px) {
  .Item__menu span{
    display: none;
  }
  .Menu__content--items {
    width:100%;
    position: unset;
    display: flex;
    flex-direction:row;
    left:unset;
    background-color: unset;
    overflow: unset;
    align-items: center;
    font-size: 1.3rem;
    color: #000000;
  }
  .Menu__container_items {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Item__close--button {
    display:none;
  }
  .Menu__container_items a {
    text-decoration: none;
    padding:0 10px;
  }
  .Item__menu {
    display: none;
  }
}